*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, .articles articles{
    margin-bottom: 16px;
}

.articles articles h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles articles a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, .articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

sports{
    background-color: rgba(0,255,0,.1);
}

sports .articles article a{
    background-color: rgba(0,255,0,.1);
}

section#sports{
    background-color: rgba(0,255,0,.1);
}

#sports .articles article a{
    background-color: #009432;
}

section#economy{
    background-color: #fffa65;
}

section#economy .articles article a{
    background-color: #ff9f1a;
}

section#entertainment{
    background-color: rgba(77,77,77,.2);
}

section#tecnology{
    background-color: rgba(109,180,218,.3);
}