*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 60px;
    max-width: 100%;
    background-color: black;
}
.container{
    display:inline-flex;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
}

nav li{
    display: inline-flex;
}

li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(112, 112, 119);
    font-weight: bold;
    background-color: rgb(20, 21, 21);
    padding: 6px;
    margin-top: 5%;
    border-radius: 5px;
}

form{
    width: 280px;
}

form label{
    margin: 5px 0px 5px 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.btn{
    margin-top: 10px;
}